<div fxLayout="column" fxFlexFill>
  <mat-toolbar><span [routerLink]="['/dashboard']">Help at Home</span><span class="subHeading">Isoloation and Covid 19 Assistance</span>
  </mat-toolbar>


  <router-outlet></router-outlet>
  <div fxFlex></div>
  <footer>
    <div> Created by <a href="http://pans-house.com/" target="_blank">PansHouse</a> Glastonbury. -- All data
      will be deleted after this is all over 😊 <a href="mailto:paul@pans-house.com?subject=Help at Home" target="_blank">Email</a></div>
    <div>
    </div>
    <div></div>
    <div>
      <a href="https://www.patreon.com/bePatron?u=16719368" data-patreon-widget-type="become-patron-button" class="SRoDO">Support This
        App!</a>
    </div>
  </footer>
</div>
